* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: linear-gradient(45deg, #060017, #5e34e5);
    color: white;
}

.headers {
    font-size: 25px;
    /*display: flex;
    justify-content: center;*/
    margin-top: 15px;
    padding-left: 20px;
    text-align: center;  /*Is this the right way to position header in center? How do I make Quiz in the middle? */
}

.paragraphs {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    /*display: flex;
    justify-content: center;*/
    margin-top: 35px;
    text-align: center;
    padding: 0 15px;
}

#Diff {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#Inputfield {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px; /*Should I use width attribute instead of margin? Should I manipulate input width directly?*/
}

.button-div {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.button-style {
    width: 150px; /*Is this ok considering responsive design*/
    font-family: 'Mulish', sans-serif;
    font-size: 25px;
    background-color: rgb(235, 235, 11);
    color: rgb(139, 15, 196);
    border-radius: 25px;
    padding: 0 5px; 
}

#end-quiz-p2 {
    margin-top: 300px;
}

.hide {
    display: none;
}

h1 {
    font-family: 'Calligraffitti', cursive;
}

h2 {
    font-family: 'Mulish', sans-serif;
    text-align: center;
    margin-top: 50px;
}

.notebutton {
    font-size: 30px; /*Is px the best choice for size considering responsive design?*/
    color: white;
    background-color: rgb(7, 7, 163);
}

.choice-div {
    font-family: 'Mulish', sans-serif;
    margin: 20px 40px;  
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
